<p id="notice"> <%= notice %> </p>

<table>
<thead>
	<th>platform reports</th> <nbsp>
	<th>account platforms</th>
</thead>
<tr>

<td><p>
	<strong>

	</strong>
	<%= @account_platform_reports.platform_report.id %>
</p></td>

<td><p>
	<strong>
	
	</strong>
	<%= @account_platform_reports.account_platform.id %>
</p></td>



</tr>
</table>

<%= link_to "back", account_platform_reports_path %>