<!DOCTYPE html>
<html>
<head>
	<title>Library Account Details</title>
</head>
<body>
<div>
	<h1>Library Account Details</h1>
	<p>
		This section shows details for the library including library name, address, and administrator details. Please review the details and contact us if any of the details need to be updated.
	</p>
</div>

<div class="container">
	<div class="span1">
				<div class="blue_box">
				<div class="blue_box_heading">
					<h3>
						<span class="pull-left"></span>Administrator Details
					</h3>
				</div>
			</div>
				<table class="table-condensed">
					<tbody>
						<tr>
							<td valign="top">First name:
							</td>
							<td>	<strong>-</strong></td>
						</tr>
						<tr>
							<td valign="top">Last name:</td>
						</tr>
						<tr>
							<td valign="top">Email:</td>
						</tr>
						<tr>
							<td valign="top">Phone</td>
						</tr>
					</tbody>
				</table>
	</div>
</div>

<div class="container">
	<div class="span2">
			<div class="blue_box">
				<div class="blue_box_heading">
					<h3>
						<span class="pull-right"></span>Secondary Contact Details
					</h3>
				</div>
			</div>
				<table class="table-condensed">
					<tbody>
						<tr>
							<td valign="top">First name:</td>
						</tr>
						<tr>
							<td valign="top">Last name:</td>
						</tr>
						<tr>
							<td valign="top">Email:</td>
						</tr>
						<tr>
							<td valign="top">Phone:</td>
						</tr>
					</tbody>
				</table>
	</div>
</div>

<div class="container">
	<div class="span2">
			<div class="blue_box">
				<div class="blue_box_heading">
					<h3>
						<span class="pull-right"></span>Library Details
					</h3>
				</div>
			</div>
				<table class="table-condensed">
					<tbody>
						<tr>
							<td valign="top">Library Name:</td>
						</tr>
						<tr>
							<td valign="top">Current Contract Signed on:</td>
						</tr>
						<tr>
							<td valign="top">Max no of Platforms:</td>
						</tr>
						<tr>
							<td valign="top">Library Code:</td>
						</tr>
						<tr>
							<td valign="top">Activation Status:</td>
						</tr>
					</tbody>
				</table>
	</div>
</div>

<div class="container">
	<div class="span2">
			<div class="blue_box">
				<div class="blue_box_heading">
					<h3>
						<span class="pull-right"></span>Billing Address Details
					</h3>
				</div>
			</div>
				<table class="table-condensed">
					<tbody>
						<tr>
							<td valign="top">Address Line1</td>
						</tr>
						<tr>
							<td valign="top">Address Line2</td>
						</tr>
						<tr>
							<td valign="top">City</td>
						</tr>
						<tr>
							<td valign="top">State</td>
						</tr>
						<tr>
							<td valign="top">Country</td>
						</tr>
						<tr>
							<td valign="top">Postal/Zip Code</td>
						</tr>
					</tbody>
				</table>
	</div>
</div>

<div class="container">
	<div class="span2">
			<div class="blue_box">
				<div class="blue_box_heading">
					<h3>
						<span class="pull-right"></span>Contact Address Details
					</h3>
				</div>
			</div>
				<table class="table-condensed">
					<tbody>
						<tr>
							<td valign="top">Address Line1</td>
						</tr>
						<tr>
							<td valign="top">Address Line2</td>
						</tr>
						<tr>
							<td valign="top">City</td>
						</tr>
						<tr>
							<td valign="top">State</td>
						</tr>
						<tr>
							<td valign="top">Country</td>
						</tr>
						<tr>
							<td valign="top">Postal/Zip Code</td>
						</tr>
					</tbody>
				</table>
	</div>
</div>

</body>
</html>
