<!DOCTYPE html>
<%= binding.pry %>
<html>
<head>
	<title>About us</title>
</head>
<body>
<h1>About us</h1>
<p>
	<h5><b>MPS Scholarly stats</b>  allows libraries to retrieve all customer-related information and COUNTER usage reports through a single platform. Intuitive user interfaces and customized user access settings allow easy navigation while retrieving consolidated usage reports that help make informed decisions.

MPS Insight Library Service provides accurate and consistent stats based on COUNTER standards and a variety of custom reports. These reports help in analyzing usage trends and in making informed decisions about subscriptions and budgeting.</h5>
</p>
</body>
</html>