// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.mbottom{
	margin-bottom: 100px;
}

.mleft{
	margin-left: 200px;
}
.box{
	border: 1px solid #d8d8d8;
	height:350px;
	margin-top: 20px;
}
.labl{
	background: #171919;
	 color:#ffffff;
	  border-top-left-radius:6px;
	   border-top-right-radius:6px;
	    margin-top:-25px
}
.pleft{
	padding-left: 110px;
}

.mleft1{
	margin-left: 180px;
}

.red{
	color:red;
}

.mleft2{
	margin-left: 20px
}
.home-icon{
	font-size: 18px;
	padding-up:-10px;
	margin-bottom: 110px
}