<p id="notice"> <%= notice %> </p>

<table>
<thead>
	<th>platform</th> <nbsp>
	<th>report</th>
</thead>
<tr>

<td><p>
	<strong>

	</strong>
	<%= @platform_report.platform.name %>
</p></td>

<td><p>
	<strong>
	
	</strong>
	<%= @platform_report.report.name %>
</p></td>


</tr>
</table>